body {
  background: #f0f1f5;
  margin: 0;
  font-family: "Helvetica", sans-serif;
  padding: 10px 15px;
}
nav ul li {
  display: inline;
  text-decoration: none;
  color: #ec6800;
  float: right;
  padding: 0px 10px;
}

.icon {
  color: #ec6800;
  float: left;
  padding: 0px 23px;
  margin: 0px;
  vertical-align: middle;
}

.image {
  text-align: center;
  color: white;
  margin-top: 3rem;
  padding: 13rem;
  background-position: -2px -41px;
  background-size: cover;
  display: block;
  background-image: url(../Requirements-and-Resources/Images/picture.jpg);
  font-size: 31px;
}

image.h1 {
  text-align: center;
  font-size: 41px;
}

.image span {
  color: #ec6800;
}
.image button {
  background-color: #ec6800;
  color: white;
  border: none;
  font-size: 26px;
  font-weight: bold;
  padding: 12px;
  margin: 0px 376px;
}

.aboutus article {
  background-color: rgb(236, 104, 0);
  color: white;
  width: 29%;
  display: inline-block;
  padding: 65px 39px;
  text-align: center;
}

footer :nth-child(1){
  text-align: left;
}

footer :nth-child(2){
  text-align: right;
  
}



